@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.select-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background-image: url(./assets/selector-icon.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 97% center; /* Add custom arrow */
}

.select-custom::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.release-date-custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Remove default arrow */
  background-image: url(./assets/selector-icon.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 20px;
  background-position: right center;
}

.release-date-custom-select::-ms-expand {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
